<!DOCTYPE html>
<html lang="es">
  {% include "partials/head.html" %}
<body>

  {% include "partials/topbar.html" %}

  <main class="app-container">

    <!-- ERRORES -->
    <div id="errorBox" class="auth-alert" style="display:none;"></div>

    {% include "partials/filters.html" %}
    {% include "partials/summary.html" %}
    {% include "partials/form_gasto.html" %}
    {% include "partials/table_gastos.html" %}

  </main>

  <!-- JS modular -->
  <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
